*{font-family: 'Open Sans';}
 .float-post-btn{z-index: 9999; width: 50px;height: 50px;line-height:40px;border-radius: 50%;position: fixed;bottom: 30px;right: 40px;background: #bc3526;color: #fff;font-size: 22px;outline: none;}
.box-shadow{ box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);}

.sub-header-for-ep{box-shadow: 0 .5px 1px 0 rgba(0, 0, 0, 0.2), 0 .5px 1px 0 rgba(0, 0, 0, 0.19);}

.width-100{width: 100% !important;}
/*.height-100{height: 100vh !important;}*/
.width-auto{width: auto !important;}
.height-100{height: 100px !important;}
.iread-background{background: #bc3526 !important;}
.margin-10{margin: 10px !important;}
.margin-top-10{margin-top: 10px !important;}
.margin-top-15{margin-top: 15px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-25{margin-top: 25px !important;}
.margin-top-30{margin-top: 30px !important;}
.margin-top-40{margin-top: 40px !important;}
.margin-top-50{margin-top: 50px !important;}
.margin-top-60{margin-top: 60px !important;}
.margin-top-35{margin-top: 35px !important;}
        
.margin-top-70{margin-top: 70px !important;}
.margin-top-100{margin-top: 100px !important;}
.margin-top-300{margin-top: 300px !important;}
.margin-top-5{margin-top: 5px !important;}
.margin-top-0{margin-top: -2px !important;}
.margin-top--10{margin-top: -10px !important;}
.margin-top--5{margin-top: -5px !important;}
.margin-top--7{margin-top: -7px !important;}
.margin-top--15{margin-top: -15px !important;}
.margin-top--20{margin-top: -20px !important;}
.margin-top--50{margin-top: -50px !important;}
.margin-bottom-0{margin-bottom: 0px !important;}
.margin-bottom-5{margin-bottom: 5px !important;}
.margin-bottom--10{margin-bottom: -10px !important;}
.margin-bottom--15{margin-bottom: -15px !important;}
.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-60{margin-bottom: 60px !important;}
.margin-bottom--40{margin-bottom: -35px !important;}
.no-lr-margin{margin-left: 0px !important;margin-right: 0px !important;}
.margin-top-8{margin-top: 8px !important;}
.margin-top-6{margin-top: 6px !important;}
.margin-top-4{margin-top: 4px !important;}
.margin-top-3{margin-top: 3px !important;}
.margin-top-12{margin-top: 12px !important;}

.margin-left-30{margin-left: 30px !important;}
.margin-right-5{margin-right: 5px !important;}
.margin-right-20{margin-right: 20px !important;}
.margin-right-30{margin-right: 30px !important;}
.margin-right-10{margin-right: 10px !important;}
.margin-left--15{margin-left: -15px !important;}
.margin-left-10{margin-left: 10px !important;}
.margin-left-20{margin-left: 20px !important;}
.margin-top-bot-30{margin-top: 30px !important;margin-bottom: 30px !important;}
.margin-top-bot-2{margin-top: 2px !important;margin-bottom: 2px !important;}
.margin-top-bot--10{margin-top: -10px !important;margin-bottom: -10px !important;}
.no-lr-pad{padding-left: 0px !important;padding-right: 0px !important;}
.padding-left-0{padding-left: 0px !important;}
.padding-left-5{padding-left: 5px !important;}
.padding-right-5{padding-right: 5px !important;}
.padding-right-0{padding-right: 0px !important;}
.padding-right-20{padding-right:20px !important;}
.padding-right-30{padding-right:30px !important;}
.padding-right-50{padding-right:50px !important;}
.padding-right-40{padding-right:40px !important;}
.padding-right-80{padding-right:80px !important;}
.padding-left-50{padding-left:50px !important;}
.padding-left-40{padding-left:40px !important;}
.padding-left-30{padding-left:30px !important;}
.padding-left-80{padding-left:80px !important;}
.padding-left-10{padding-left:10px !important;}
.padding-right-10{padding-right:10px !important;}
.pad-10{padding: 10px;}
.pad-5{padding: 5px;}
.pad-2{padding: 2px;}
.pad-0{padding: 0px !important;}
.padding-bottom-5{padding-bottom: 5px !important;}
.padding-top-5{padding-top: 5px !important;}
.padding-bottom-10{padding-bottom: 10px !important;}
.padding-top-10{padding-top: 10px !important;}
.padding-top-20{padding-top: 20px !important;}
.padding-top-50{padding-top: 50px !important;}
.padding-bottom-20{padding-bottom: 20px !important;}
 
 
.font-size-8{font-size: 8px;}
.font-size-9{font-size: 9px;}
.font-size-12{font-size: 12px;}
.font-size-13{font-size: 13px ;}
.font-size-10{font-size: 10px;}
.font-size-16{font-size: 16px;}
.font-size-18{font-size: 18px;}
.success-color{color:#00E676;}
.failure-color{color:#ff5252;}
.border-failure{border: 1px solid #ff5252 !important;}
.border-none{border: none;}
.border-top{border-top: 1px solid #e5e5e5;}
.border-left{border-left: 2px solid #bc3526;}
.border-top-2{border-top: 2px solid #e5e5e5;}
.border-bottom-2{border-bottom: 2px solid #e5e5e5;}
.border-bottom{border-bottom: 1px solid #e5e5e5;}
.border-bottom-dark{border-bottom: 1px solid #555;}
.border-radius-0{border-radius: 0px !important;}
.border-radius-2{border-radius: 2px !important;}
.a-deco{text-decoration: none !important;cursor: pointer;}
.a-deco-grey{text-decoration: none !important;cursor: pointer; color: #333;}
.a-deco-white{text-decoration: none !important;cursor: pointer; color: #fff;}
.a-deco-white:hover{text-decoration: none !important;cursor: pointer; color: #e5e5e5;}
.a-deco-hover{background: transparent !important}
.color-white{color: #fff !important;}
.color-grey{color: #777 !important;}
.color-black{color: #000 !important;}
.color-brand{color: #bc3526 !important;}
.back-color-grey{background:#f5f5f5;}
.back-color-white{background:#fff !important;}
.back-color-brand{background:#bc3526;}
.float-inline{display: inline-block;float: left;}
.display-none{display: none;}
.center-image{margin: 0 auto !important;}
 
.cursor-pointer{cursor: pointer;}
.cursor-default{cursor: default !important;}
 .img-circle-custom{border-radius: 50%;width: 65px;height: 65px;}
  
.overlay1
 {  opacity:0.8; background: #000; 
  width:100%;height:100%; z-index:9999;top:0; left:0; position:fixed; 
 }

/*==========================loader css ends-==================================*/
.load-pos-c{
    margin:20% 50% ;
}
.ellipsis{ 
 overflow: hidden;
 /*overflow-y: none;*/
    white-space: nowrap;
    
    text-overflow: ellipsis;}
    .ellipsis-headline{ 
 overflow: hidden;
  margin-top: 7px;
    white-space: nowrap;
    line-height: 1.4;
    text-overflow: ellipsis;}
 .brand-btn{height:32px;width:120px;border:1px solid #bc3526;color:#fff;background: #bc3526;border-radius: 1px; font-size: 14px;}
 .brand-btn:hover{background: #fff;color:#000;border:1px solid #bc3526; }

 .brand-btn-grey{height:32px;width:120px;border:1px solid #ccc;color:#000;background: #ccc;border-radius: 1px; font-size: 14px;}
 .brand-btn-grey:hover{background: #fff;color:#000;border:1px solid #ccc; }

.brand-btn-white{height:32px;border:1px solid #bc3526;background: #fff;width:120px;border-radius: 1px;font-size: 14px;}
 .brand-btn-white:hover{background: #bc3526;color:#fff;border:1px solid #bc3526; }

.form-control:focus { border-color: #bc3526;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(172, 60, 48, 1);}
.resize-none{resize: none !important;}
 
  
/*css for autofill*/
 
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}
input:-moz-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}
input:autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}

.modal-close{margin-right: -43px;font-size: 35px;color:#fff;opacity: 1;margin-top:-10px; }
/*hr or line */
.hr-line{border-top:1px solid #e1e1e1;margin:auto;}
.hr-or-line{display:inline-block;background:#fff;position:relative;width:30px;text-align:center;top:-11px;left:47%;}





/*rating*/
.starrr{color: #bc3526;}
.starrr-white{color: #fff !important;}
.disable-rating{pointer-events: none;}
.large-rating>.glyphicon{font-size: 30px;} 
.small-rating>.glyphicon{font-size: 18px;} 
.medium-rating>.glyphicon{font-size: 22px;} 

/*comment btn*/
/*.btn-comment-p{background: none;}*/

.brand-input-f{
    overflow:hidden;
  /* demo only: */
  
  border-color: #aaa;
  font-size:17px;
    resize:none;
    box-shadow:none;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}


.brand-input-f:focus {
    border-color: #bc3526;
    box-shadow:none;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}
/*=====================================toast css===============================*/
.woo-toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 30px;
    font-size: 16px;
    font-weight: 100;
    opacity: .95;
}

.woo-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;  
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: .95;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: .95;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: .95;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: .95;}
    to {top: 0; opacity: 0;}
}
/*=========================toast css ends=============================================*/


.text-area-create{
    overflow:hidden;
  /* demo only: */
  
  border-color: #aaa;
  font-size:17px;
    resize:none;
    box-shadow:none;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}


.text-area-create:focus {
    border-color: #bc3526;
    box-shadow:none;
}
.focus-none:hover{background: #fff !important;}
.focus-none:focus{background: #fff !important;}
.form-cmnt{width:85% !important;}
.comment-btns{line-height:33px; float: left;display: inline-block;padding-right: 5px !important;padding-left: 5px !important;}
 /*cmnt modal*/
.img-circle-content-u{border-radius: 50%;width: 45px;height: 45px;}
.comment-box-h {
    max-height: 350px !important;
    overflow: auto;
     box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.29); 
}
/*scroll bar */
 .comment-box-h::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}

.comment-box-h::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.comment-box-h::-webkit-scrollbar-thumb
{border-radius: 10px;
    background-color: #222;
}
/*notification*/
 .badge-for-noti{margin-top:-5px;margin-left:-4px;background: #bc3526;position: absolute;font-size: 11px;border-radius: 5px;padding: 3.5px;}
 /*.badge-for-noti-1{margin-top:-25px;margin-left:12px;background: #bc3526;position: absolute;font-size: 11px;border-radius: 5px;padding: 3.5px;}*/
.header-noti{padding: 8px;text-align: center;border-bottom: 1px solid #e5e5e5;-webkit-box-shadow: 0px 2px 4px -1px rgba(229,229,229,0.75);
-moz-box-shadow: 0px 2px 4px -1px rgba(229,229,229,0.75);
box-shadow: 0px 2px 4px -1px rgba(229,229,229,0.75);}
.footer-noti{padding: 4px;text-align: center;-webkit-box-shadow: 0px -2px 4px 0px rgba(229,229,229,0.75);
-moz-box-shadow: 0px -2px 4px 0px rgba(229,229,229,0.75);
box-shadow: 0px -2px 4px 0px rgba(229,229,229,0.75); }
.width-noti{width: 500px !important;}
.inner-noti{width:auto;max-height: 300px !important; overflow-y: auto; }
  .img-circle-custom-noti{vertical-align: top; width: 35px !important;height: 35px !important;border-radius: 50%;}
.li-noti { padding: 10px;    white-space: nowrap;    display: block;overflow: hidden;text-overflow:ellipsis;}
.li-noti:hover{color:#3c3c3d; background: #e5e5e5;padding: 10px;}
.span-noti-a{margin-top: -10px;}
.inner-noti::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}

.inner-noti::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.inner-noti::-webkit-scrollbar-thumb
{border-radius: 10px;
    background-color: #222;
}
 .unread{background:#d5d5d5;}

@media screen and (max-width: 767px) {

.margin-top-bot-30{margin-top: 15px !important;margin-bottom: 15px !important;}
.no-lr-pad-mob{padding-left: 0px !important;padding-right: 0px !important;}
.padding-left-15-mob{padding-left: 15px !important;}
.padding-right-15-mob{padding-right: 15px !important;}
.round-sec-img{ width: 100px !important;height: 100px !important; margin-top: -30px !important; }
 
.no-box-shadow-mobile{box-shadow: none !important;}
.padding-left-10-mob{padding-left: 10px !important;}
.padding-left-5-mob{padding-left: 5px !important;}
.padding-right-5-mob{padding-right: 5px !important;}
.m-t--10-mob{margin-top: -10px !important;}
.m-t--20-mob{margin-top: -20px !important;}
.m-b-20-mob{margin-bottom: 20px !important;}
.m-b-70-mob{margin-bottom: 70px !important;}
.m-b-0-mob{margin-bottom: 0px !important;}
.m-t-20-mob{margin-top: 20px !important;}
.m-t-0-mob{margin-top: 0px !important;}
.m-t-10-mob{margin-top: 10px !important;}
.m-t-30-mob{margin-top: 30px !important;}
.m-t-40-mob{margin-top: 40px !important;}
.m-t-60-mob{margin-top: 60px !important;}
.m-t-80-mob{margin-top: 80px !important;}
.m-l-0-mob{margin-left: 0px !important;}
.m-r-0-mob{margin-right: 0px !important;}
.center-image-mob{margin: 0 auto !important;float: none !important;}
.pad-5-m{padding: 5px !important;}
 .width-100-m{width: 100% !important;}
.text-left-mob{text-align: left !important;}
.text-right-mob{text-align: right !important;}
.text-center-mob{text-align: center !important;}
 
.font-mob-18{font-size: 18px !important;}
.font-mob-12{font-size: 12px !important;}
.font-size-16-mob{font-size: 16px !important;}
.font-size-9em-mob{font-size:.9em !important;}
.height-auto-mob{height: auto !important;}
.font-size-1em-mob{font-size:1.5em !important;}
.font-size-11em-mob{font-size:1.1em !important;}
/*header*/
.search-form-w-m{width:60% !important;margin-right: 0;}
.search-form-w-m:hover{background:transparent !important;}

  /*msg*/
  .title-mob-msg-h{float: left !important;}
  .pad-0-mob{padding: 0px !important;}
  .img-circle-custom-side-right{width: 120px;height: 120px;}
  .img-circle-custom-side-right-img{width: 120px !important;height: 120px !important;}
  .margin-t-m--50{margin-top: -70px !important;}
  .margin-t-m--100{margin-top: -120px !important;}

.mob-cl-video-m{width: auto !important;height: auto !important;}

 }
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
 /*new classes for the ksp*/
  .navbar-brand {
  padding: 0px;
}
/*.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}*/
.img-header{max-width:180px !important;height:auto;max-height: 100%;padding: 5px;}


.search-input-grp{width: 100%;}
.search-form-w{width: 35%;}
.input-search-i{border-radius: 34px !important;height: 34px;  background: #F2F2F2; }
.input-search-btn{font-size:12px;border-radius: 34px !important;height: 34px;width: 34px;margin-left:-33px !important; background: #bc3526;border:0px;color:#fff;}
.z-index-100{z-index: 100;}
.z-index-110{z-index: 110;}

.custom-nav{background: #fff;color:#4c4c4c;/*border-color: #bc3526;*/ box-shadow:inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);}
.img-for-home-rep{width:75px;}
.img-for-home-rep1{width:55px;}
.img-for-home-rep2{width:65px;}
.create-overlay{display:none; opacity:.99; background: #fff; 
  width:100%;height:100%; z-index:9997;top:0; left:0; position:fixed; }
 
.content-type-img-head{height: 80px;width: 80px; }
.outer-div-for-coc{height: 200px; }


/*csss for humberger menu*/


 
 
#btn_to_opn_hum {
  right:10px;
  position: fixed;
  z-index: 9999;
  top: 15px;
  /*left: 15px;*/
  cursor: pointer;
  transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn_to_opn_hum div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #333;
  transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn_to_opn_hum.active {
  right: 230px;
}
#btn_to_opn_hum.active div {
  background-color: #343838;
}
#btn_to_opn_hum.active #top_hum {
  -webkit-transform: translateY(10px) rotate(-135deg);
          transform: translateY(10px) rotate(-135deg);
}
#btn_to_opn_hum.active #middle_hum {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#btn_to_opn_hum.active #bottom_hum {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

#box_side_hum {
  position: fixed;
  z-index: 9998;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: #fff;
  box-shadow: -1px 0px 5px 1px #aaaaaa;
  color: #343838;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box_side_hum.active {
  right: 0px;
  opacity: 1;
}

#items_ham_burger_side {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#items_ham_burger_side .item_bur_hum {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  transition: all 250ms;
}
#items_ham_burger_side .item_bur_hum:hover {
  /*
  background-color: rgba(52, 56, 56, 0.2);*/
}

#btn_to_opn_hum, #btn_to_opn_hum * {
  will-change: transform;
}

#box_side_hum {
  will-change: transform, opacity;
}
/*css for humbergr  menu ends*/