body {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 30px;
}

button {
       display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
    background-color: #006ba6;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

hr {
    border: none;
    background-color: #eee;
    height: 10px;
}

.menu {
    padding: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;

    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.content .message {
    padding: 20px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 40px;
    font-weight: bold;
}

 

.error {
    color: #a21e22;
}