    .card-box {
    position: relative;
    border: 0px solid #c6c6c6;
    box-shadow: 0px 0px 11px #c6c6c6;
    background: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
}

.card-box.mt-15{margin-top:15px !important;}
.card-box.mb-15{margin-bottom: 15px !important;}
.card-box .mt-15{margin-top:15px !important;}
.card-box .mb-10{margin-bottom: 10px !important;} 


.card-box .block-top-menu .navbar-nav > li > a.new-pedding {
    padding-right:0px;
}

.card-box .topdiv {
    color: #0A66A4;
    border-bottom: 1px dashed #0A66A4;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}
 
.card-box .form-control {
    border-radius: 0px;
} 

.card-box .special div[class^="col-"]{ padding-left: 0; padding-right: 0;}

.card-box .input_big{
    width: calc(100% + 5px);
    margin-left: -5px;
}

.card-box .line{ border-top: 1px solid #CCCCCC; margin-top: 30px; margin-bottom: 30px; }
.card-box .span {
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px 15px;
    border: 1px solid #CCC;
    text-transform: uppercase;
    font-weight: 600;
}

.card-box label.form-check-label{ font-weight: normal;}
.card-box label.form-check-label input{ position: relative; top: 2px;}

.card-box .action {
    border-top: 1px dashed #0A66A4;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.card-box .action .btn {
    text-transform: uppercase;
    padding: 10px 18px;
    min-width: 94px;
}
.card-box span.text-uppercase { 
    padding-top: 7px;  display: block;
}
@media (max-width: 992px)
{
 .card-box .mt-15 {
    margin-top: 0px !important;
}
.card-box .input_big {
    width: calc(100%);
    margin-left:0px;
}
.card-box > div > div > div{ margin-top:20px;}
.card-box span.text-uppercase {
    font-size: 1rem;   padding-top: 9px;
}
}