.font-size-24{font-size: 24px;}
.font-size-20{font-size: 20px;}
.margin-top-13{margin-top: 14px;}
.margin-left-16{margin-left: 16px;}
.margin-left-25{margin-left: 25px;}
.margin-top-16{margin-top: 16px;}
.margin-top--2{margin-top: -3px;}
.margin-top-24{margin-top: 24px;}
.margin-right-8{margin-right: 6px;}
.main-item-for-tiles{height: 128px;width: 100%;border:1px solid #eaedf3;}
.user-image-big-tile{width: 80px;height: 80px;border-radius: 50%;margin-top: 24px !important;}
.color-green{color: #299537;}
.drop-sub-chl{padding-top: 10px !important;padding-bottom: 10px !important;border-bottom: 1px solid #eee;}
.add-mem-btn{height:38px;width:69px; border-radius: 4px; font-size: 14px;}
.log-mem-btn{height:48px;width:169px; border-radius: 4px; font-size: 16px;line-height:2;}
.add-mem-btn1{height:38px;width:83px; border-radius: 4px; font-size: 14px;}
/*my task css*/
.success-col{color: #5CB85C !important;}
.error-col{color: #D9534F !important;}
.width-btn-100{width: 100px;}
.width-btn-120{width: 120px;}
.btn-drop-dwn{width: 169px;height: 38px;border-color: #d8dce6;}
.label-success{color: #299537 !important;background: rgba(41, 149, 55, 0.1);padding-top: 6px !important;padding-bottom: 6px !important;}
.label-danger{color: #f95b5e !important;background: rgba(249, 91, 94, 0.1);padding-top: 6px !important;padding-bottom: 6px !important;}
.label-default{color: #4a4a4a !important;background: rgba(74, 74, 74, 0.1);padding-top: 6px !important;padding-bottom: 6px !important;}
.label-blue-case{color: #1878a2 !important;background: rgba(24, 120, 162, 0.1);padding-top: 6px !important;padding-bottom: 6px !important;}

.user_assign-img{width: 25px;height: 25px;border-radius: 50%;margin-top: 3px;}

.main-item-for-tiles-mytask{height: 176px;width: 100%;border:1px solid #eaedf3;}
.main-item-for-tiles-mycustomer{height: 166px;width: 100%;border:1px solid #eaedf3;}
.assign-my-task-div{height: 33px;width:  fit-content;padding-left: 4px;padding-right: 10px; border:1px solid rgba(247, 147, 29, 0.3);background: rgba(247, 147, 29, 0.1);border-radius: 16px;}
.assign-my-task-div-other{height: 33px;width:  fit-content;padding-left: 4px;padding-right: 10px; border:1px solid rgba(155, 155, 155, 0.2);background: rgba(155, 155, 155, 0.1);border-radius: 16px;}
 

.assign-my-task-div-case{z-index:991 !important;height: 33px;width:  fit-content;padding-left: 4px;padding-right: 10px; border:1px solid rgba(247, 147, 29, 0.3);background:#FFF4E8;border-radius: 16px;}


 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("../img/assets/dropdown-arrow.svg") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("../img/assets/dropdown-arrow.svg") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */

}
/*select2 input*/
.select2-container--default.select2-container--focus .select2-selection--multiple {
     border: 1px solid #ccc !important; 
     /*height: 60px !important;*/
}
.select2-container--default .select2-selection--multiple {
  min-height: 60px !important; 
    border: 1px solid #ccc !important;
    border-radius: 2px !important;
    width: 100% !important;
}
.select2-container{width: 100% !important;}
.select2-selection{width: 100% !important;}

  .select-ajax-assign>.select2-container{width: 50% !important;}
 .select-ajax-assign>.select2-selection{width: 50% !important;}

.select2-container--default .select2-selection--single{height: 38px;padding:5px;}

.assign-chk{width:16px !important;height:16px !important;border:1px solid  #d8dce6;background: #fff;
}
.popover{width: 300px;}
.width-88{width: 88px;}
.remark_height_modal{

}
.remark_height_modal {
     max-height: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*scroll bar */
 .remark_height_modal::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}

.remark_height_modal::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.remark_height_modal::-webkit-scrollbar-thumb
{border-radius: 10px;
    background-color: #222;
}
/*select2*/

.display-task-active{
 border-bottom:4px solid #3784c1;
 padding-bottom: 12px;
}
.width-107{width: 107px;}

.filt-chk input{height: 16px;width: 16px; }
.back-btn-task{height: 38px;width: 182px;border: 1px solid #d8dce6;border-radius: 34px;color:#3784c1;
   font-weight: 600;  box-shadow: 1px 2px 4px rgba(22, 29, 37, 0.05);
}

.task-detail-item-tiles-mytask{min-height: 196px;width: 100%;border:1px solid #eaedf3;}
.margin-top--30{margin-top: -30px !important;}
.color-save{color: #e6492d;}
.tag-box-for-comp{background: #D5EEF9;height: 26px;border-radius: 4px;padding: 4px; box-sizing: border-box;    margin: 3px;}
.height-48{height: 48px;}
.main-call-section{height: 100vh;}

.embed-submit-field textarea {
  width: 100%;
  padding: 20px;
}
.embed-submit-field a {
  position: absolute;
  right: 10px;
  top: 7px;
  
  border: none;
   
  border-radius: 3px;
  padding: 10px;
  transition: all .2s;
}
.remark-add-box{border-right:none;}
.width-90{width: 80%;}

.btn-rem-img{height: 38px;border-radius: 4px;border:1px solid #d8dce6;box-shadow: 1px 2px 4px rgba(22, 29, 37, 0.05);background: #F8F9FB;}

/*rating*/
.starrr{color: #f7931d;}
.starrr-white{color: #fff !important;}
.disable-rating{pointer-events: none;}
.large-rating>.glyphicon{font-size: 30px;} 
.small-rating>.glyphicon{font-size: 18px;} 
.medium-rating>.glyphicon{font-size: 22px;} 


/*css ends for task page*/

.custom-radio{background: #2d9c3c;color: #2d9c3c;}
 input[type='radio']:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #d8dce6;
    }
 input[type='radio']:checked:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #2d9c3c;
        content: '';
        /*color:#000;*/
        /*font-size: 53px;*/
        padding-top: -40px;
        display: inline-block;
        visibility: visible;
        border: 2px solid #2d9c3c;
    }
 
.form-control{height: 38px;}

/*slider button css*/
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34aa44;
  border-color: #2f9e3e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34aa44;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*slider button css ends*/


/* Css by Neha*/
  
.main-item-for-tiles-cases{ 
  min-height: 430px;
  width: 100%;
  border: 1px solid #eaedf3;
}

.case-num-div{
  width:24px;
  padding:8px;
  background:#f5dbbd;
  color:#e58516;
  font-size:16px;
  border:1px solid #f5dbbd;
  border-radius: 24px;
}
.wrap{ 
  display: flex;
}
.case-assign-day{
  width:inherit;
}
.center-div{
  margin:0 auto;
}  
.wrapp {
  text-align: center;
  margin: 20px;
  position: relative;
}
.links {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wrapp:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #eaedf3;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}
.dot {
  width: 20px;
  height: 20px;
  background: transparent;
}

.main-item-for-tiles-reports{ 
  height: 230px;
  border: 1px solid #eaedf3;
}

/*Css by Neha Ends Here */
.cust-hr{border-top:4px solid #eaedf3;z-index:990 !important;}