.back-call{background:#EDEBED;}
 .menu_box_sc::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}

.menu_box_sc::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.menu_box_sc::-webkit-scrollbar-thumb
{border-radius: 10px;
    background-color: #222;
}


.list-item-height{ 
	height:160px;
}
.img-list-item{ 	
	height: 100%;
	width: auto;
}
.list-item-hr{ 
	margin-bottom: 5px;
	margin-top: 4%;
}
.list-item-link{ 
	color:#000;
}
.library-icon-txt{ 

}
.text-wrap{ 
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-headings i{ 
	padding: 5px 5px 5px 0px;
}

.padding-t-b{
	padding: 5px 0px 0px 10px;
}
.right-section.col-lg-3 { 
	width: 22%;
	margin-left: 3%;
}
.checkbox-container label , .category-heading label{ 
	font-weight: 400;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #bc3526;
    cursor: pointer;
    border: 1px solid #fff;
    border-bottom-color: #d8d8d8;
}
.nav a{
	color:#000;
}
/* Hide browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}




/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
