@font-face
{
    
    src:url(../fonts/IstokWeb-Bold.ttf);
    font-family: istobold;
}
@font-face
{
    
    src:url(../fonts/IstokWeb-Regular.ttf);
    font-family: istoregular;
}
@font-face
{
    
    src:url(../fonts/IstokWeb-Italic.ttf);
    font-family: istoitalic;
}

body
{
	padding: 0;
	margin: 0;
    font-family: istoregular;
}
p
{
font-family: istoregular;
}
.fxhdr
{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;

}
.head
{
    border-top:4px solid #00b45a;
    background-color: white;
}
.container
{
    max-width: 1250px;
}
.navbar .nav-link
{
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:12px;
    font-family: istoregular;
    font-weight: 700;
}
.navbar
{
    margin-top:15px;
}
.navbar a.active
{
    color:#00b45a;
    position: relative;
}
.myang
{
    position: absolute;
    display: block;
    font-size: 17px;
    font-weight: bolder;
    left:45%;

}
.bar
{
    background-color: #00b45a;
}
.nav1
{
    list-style: none;
    overflow: hidden;
    width:70%;
    margin:auto;
}
.main_hdr
{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}
.nav1 .nav-item
{
    float: left;
    position: relative;
}

.nav1 .nav-link
{
    color:#ededee;
    text-transform: uppercase;
    font-family: istobold;
    font-size: 15px;
    padding:15px 35px;
}

.nav1 .nav-link.active
{
    background-color: #ededee;
    color: #00b45a;
}

/*.nav1 .nav-item:after
{
content:'|';
color:#ededee;
position: absolute;
left:98%;
top: 20%;
}*/

.nav1 .nav-item:last-child:after
{
    display: none;
}
.dropdown-menu
{
    border-radius: 0px;
}
.sevices
{
    background-image: url(../img/doctor.png);
    background-color: #ededee;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
}
.wel_sec
{
    background-color: #ededee;
}
.who
{
    background-color: #ededee;
}
.slide
{
    position: relative;
}
.slide .caption
{
    position: absolute;
    width: 23%;
    text-align: left;
    left: 10%;
    font-size: 1.5vw;
    top: 8%;
}

.licon
{
    transform: translateY(-30px); 
    float: left;
    width: 64px;
    height: 68px;
}
.mybtn
{
    position: relative;
    width:140px;
    text-align: left;
}
.mybtn a
{
    text-decoration: none;
}
.mybtn i
{
    position: absolute;
    width:30px;
    height:35px;
    background-color: #00b45a;
    color:white;
    text-align: center;
    right:0;
    top:0;
}
.mybtn1
{
    position: relative;
    width:140px;
    text-align: left;
    border-radius: 0px;
    border:1px solid #00b45a;
    background-color: white;
}
.mybtn1 i
{
    position: absolute;
    width:30px;
    height:36px;
    background-color: #00b45a;
    color:white;
    text-align: center;
    right:0;
    top:0;
}
h1,h2,h3
{
    font-family: istobold;
    font-weight: 700;
}
h2
{
    font-size: 27px;
}
.title
{
    position: relative;
}
.title:after
{
    position: absolute;
    content: '';
    top:120%;
    width:100px;
    height:1px;
    background-color: #00b45a;
    left: 46%;
}
.title1
{
    position: relative;
    text-align: left !important;
}
.title1:after
{
    position: absolute;
    content: '';
    top:120%;
    width:190px;
    height:1px;
    background-color: #00b45a;
    left: 0;
}
.title2
{
    position: relative;
}
.title2:after
{
    position: absolute;
    content: '';
    top:120%;
    width:30%;
    height:1px;
    background-color: #00b45a;
    left: 35%;
}
.ceo
{
    background-color: white;
    position: relative;
    height:320px;
}
.ceo p img
{
    border-radius: 50%;
    width: 50%;
}
.ceo .fa-quote-left
{
    position: absolute;
    color:#00b45a;
    font-size: 25px;
    left:0;
    top:-10px;
}
.ceo .fa-quote-right
{
    position: absolute;
    color:#00b45a;
    font-size: 25px;
    right:0;
    bottom:-10px;
}
.vision
{
    background-image: url(../img/12.jpg);
    background-size: cover;
}
.text-white
{
    color:white;
}
.vline
{
    font-size: 25px;
}
.vline i
{
    color:#00b45a;
}
.team
{
    background:#ededee;
}
h6
{
    font-weight: 700;
}
h6.title1:after
{
    position: absolute;
    content: '';
    top:120%;
    width:90px;
    height:1px;
    background-color: #00b45a;
    left: 0;
}
.sevices .item
{
    padding:10px;
    background-color: white;
    height:300px;
    border-bottom:5px solid #00b45a;
}
.sevices .item p img
{
    width: 127px;
    height: 111px;
}

.sevices .item p, .wel_sec .item p
{
    text-align: center;
    padding:0 15px;
    font-size: 12px;
}
.wel_sec .item
{
    padding:10px;
    background-color: white;
    border-bottom:5px solid #00b45a;
    height:345px;
    position: relative;
}
.wel_sec .item img
{
    width: 120px;
    height: 100px;
}
.more
{
    position: absolute;
    bottom:0;
    left: 60px;
}
.wel_sec .item p a, .wel_sec .item p i  
{
    color:#0a61a6 !important;
    text-decoration: none;
}
.wel_sec .item p i
{
    transform: translateY(5px);
    margin-left: 7px;
}
.why_work
{
    background-color: #ededee;
}
.why_work h3, .presn h3, .testi_sec h3
{
    font-weight: bold;
    color: white;
    display: inline-block;
    position: relative;
}
.why_hbg img
{
    border-radius:50%;
}
.aft
{
    width: 40%;
    height: 1px;
    background-color: white;
    left: 30%;
    bottom: -15px;
    position: absolute;
}
.inner
{
    background-color: #00b45a;
    padding: 30px 50px;
}
.inner p, h5, .inner p a
{
    color: white;
    text-decoration: none;
}
.ln i
{
   transform: translateY(5px);
    margin-left: 7px; 
}
.lft
{
    border-right: 1px solid white;
}
.com_partnr
{
    background-color: #ededee;
}
.com_partnr h3
{
    color: #005ba2;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.com_partnr h3:after
{
    content: "";
    width: 40%;
    height: 1px;
    background-color: #00b45a;
    left: 30%;
    bottom: -15px;
    position: absolute;
}
.com_partnr .owl-prev span, .com_partnr .owl-next span
{
    background-color: white;
    color:#005ba2;
    font-weight: bold; 
}
.our_pres
{
    background-color: #ededee;
}
.presn
{
    background-color: #005ba2;
    color: white;
}
.loc
{
   
}
.loc ul
{
    list-style: none;
    overflow: hidden;
    padding-bottom: 25px;
}
.frst
{
    border-bottom: 1px solid #669dc7;
}
.loc ul li
{
    float: left;
    width: 154px;
}

.tag
{
    color:#00b45a;
    font-weight: 600;
    font-size: 12px;
}
.hlt
{
    color:#ff7300;
}
.shw
{
    display: block !important;
}
.oclients
{
    width:85%;
    margin:auto;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
{
    background:#1367aa;
}
.owl-prev span, .owl-next span
{
    position: absolute;
    width: 40px;
    padding: 0px 20px;
    background-color: #00b45a;
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 0;
}

.owl-prev span
{
    left:-40px;
    top:25px;
}

.owl-next span
{
    right:-40px;
    top:25px;
}
.partners
{
    background:#ededee;
}
.choose_sec
{
    background-image: url(../img/choose/bg.jpg);
    background-size: 100% 100%;
}
.choose_sec .item
{
	padding: 10px;
    background-color: #fefefe;
    height: 323px;
    
}
.choose_sec .item1
{
    padding: 10px;
    background-color: white;
    height: 260px;
    
}
.choose_sec .item p
{
    margin-top: 25px;
    text-align: justify;
    padding: 0px 7px;
}
.choose_sec .item1 p
{
    margin-top: 25px;
    text-align: justify;
    padding: 0px 7px;
}
.contact_us
{
    background-color: #ededee;
}
.contct
{
    background-color: #00a050;
    box-shadow: 4px 0px 9px grey;
}
.frm
{
    width: 95%;
}
.image
{
    width: 125%;

}
.image img
{
    width: 100%;
}
.frm input
{
    border-radius: .15rem;
}
.dpr
{
    border-right: none;
}

.cntct_sec
{
    width: 70%;
    margin: auto;
}
.cntct_sec p
{
    font-weight: bold;
}
.cntct_sec p i
{
    margin-right: 15px;
}
.career_sec
{
    width: 90%;
    padding-left: 40px;
}
.career_sec p
{
    font-weight: 600;
}
.creer
{
    background-image: url(../img/c_bg.jpg);
    background-repeat: repeat-y;
}
    .frm1
{
    width: 60%;
}
.frm1 input
{
    padding: 23px;
    border-radius: 0px;
}
.frm1 textarea
{
    padding: 14px;
    height: 132px;
}
.frm1 .input-group-text
{
    background-color: white;
    font-size: 13px;
    font-weight: 600;
    color: #0b5590;
    position: relative;
    border-left: none;
}
.frm1 .input-group-text:after
{
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 3px;
    height: 33px;
    background-color: lightgray;
}
.c_hdng
{
    position: relative;
    font-size: 32px;
    display: inline-block;
}
.c_hdng:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 80%;
    background-color: #00a050;
}


.news_sec .input-group input
{
    padding: 10px;
    outline: none;
    display: block;
}
.news_sec .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control
{
    border: 1px solid #a9a9a9;
        border-radius: 0rem !important;
        position: static;
} 
.news_sec .input-group-text
{
    border-radius: 0px;
    border-left: none !important;
    border: 1px solid #a9a9a9;
}
.top_sec
{
	height: 85px;
    position: relative;
    padding: 5px 5px;
}
.top_sec1
{
    height: 58px;
    position: relative;
    padding: 5px 5px;
}
.top_sec:after
{
    content: "";
    position: absolute;
    top: 100%;
    height: 5px;
    width: 30%;
    left: 0px;
    background-color: #00b45a;
}
.top_sec1:after
{
    content: "";
    position: absolute;
    top: 100%;
    height: 5px;
    width: 30%;
    left: 0px;
    background-color: #00b45a;
}
.news
{
    background-color: #ededee; 
}
.nw
{
    background-color: white;
    border-bottom: 5px solid #00b45a;
}
.n_image
{
    margin-top: 70px;
}
.n_image img
{
    width: 110%;
    position: relative;
    z-index: 9;
    transform: scale(1.1);
}
.n_txt
{
    color: #00b45a;
    font-size: 11px;
}
.t_nw
{
    height: 150px;
    background-color: #cccccc;
}
.thd
{
	color:#00b45a;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 19px;
}
.points
{
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-4px);
}
.frst1
{
    position: relative;
    overflow: hidden;
}
.colm
{
    background-color: #00589f;
    height: 100%;
    width:100%;
    top: 0;
    z-index: 1;
    left: -66px;
    position: absolute;
    transform: skewX(-6deg);
}
.hospital_buyers
{
    background-image: url(../img/choose/bg1.jpg);
    background-size: 100% 100%;
    padding-top:130px;
    background-repeat: no-repeat;

    color: white; 
}
.hospital_buyers .row .col-md-4
{
    border-right: 1px solid #87c4a8;
}
.hos_txt
{
    color: white;

}
.hospital_txt p
{
    margin-left: 35px;
    font-size: 13px;
    color: #92ccb1;
}
.hd2
{
    font-size: 14px;
    font-family: istobold;
}
.hd
{
    background-color: #da0000;
    border-radius: 10px;
    width: 87%;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    color: white;
}
.hd1
{
    font-family: istoregular;
    color: white;
    font-size: 35px;
}
.hos_txt h4
{
    font-weight: bold;
}
.testi_sec
{
    background-color: #225f91;
    padding: 65px 90px;
    position: relative;
}
.testi_sec:after
{
    content: "";
    width: 0px;
    height: 0px;
    border-width: 45px;
    border-color: #ededee transparent transparent transparent;
    border-style: solid;
    position: absolute;
    top: 0px;
    left: 45%;

}
.testi
{
    background-color: #184265;
    position: relative;
    height: 320px;
    color: white;

}
.testi p img
{
    border-radius: 50%;
    height: 167px;
    width: 167px;
}

.testi .fa-quote-left
{
    position: absolute;
    color:#00b45a;
    font-size: 25px;
    left:0;
    top:-10px;
}
.testi .fa-quote-right
{
    position: absolute;
    color:#00b45a;
    font-size: 25px;
    right:0;
    bottom:-9px;
}
.why_hbg
{
    background-color: #00713e;
}
.scont
{
    color: white;
    padding-right: 50px;
    border-right: 1px solid white;
}
.scont:last-child
{
    border-right: none;
}
.scont p
{
    font-size: 14px;
}
.ftr
{
    background-color: #2f2f30;
}
.ftr p span
{
    font-size: 11px;
    color:white;
}
.ftr p i
{
    width:45px;
    height:45px;
    border-radius: 50%;
    color:white;
    font-size: 40px;
    text-align: center;
}
.icns i
{
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    color: white;
    font-size: 40px !important;
    text-align: center;
    padding-top: 7px !important;
    margin-left: 10px;
}
.cntn .row h3
{
    color: white;
}
.our_pre
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
.cntn
{
    background-color: rgba(18, 128, 23, 0.7);
}
.cntn .row h3:after
{
    position: absolute;
    content: '';
    top: 120%;
    width: 90px;
    height: 1px;
    background-color: white;
    left: 0;
}
/*.white-back-g{background: #fff;color:#000 !important;}*/
.presenc_cont
{
    width:70%;
    margin:auto;
}
.presenc_cont .owl-prev span
{
    left: -10%;
    top: 60px;
    font-size: 50px;
}
.presenc_cont .owl-next span
{
    right: -10%;
    top: 60px;
    font-size: 50px;
}
.presenc_cont .owl-prev span, .presenc_cont .owl-next span
{
    background:none !important;
    /*color: #000;*/
}
.presenc_cont .owl-item img {
        display: block;
        width: auto !important;
}   

.pitem{
    height: 100px !important;
}
.owl-carousel .pitem img{
    margin:0 auto;
    width: auto !important;
}
.txt
{
    width: 70%;
    margin:auto;
    color: white;
}
.txt img
{
    width: 55px;
    height: 60px;
}
.txt p
{
    margin-left: 0px;
    margin-bottom: 0px;
}
.txt1
{
    width: 90%;
    margin:auto;
    color: #fff;
}
.txt1 img
{
    width: 55px;
    height: 60px;
}
.txt1 p
{
    margin-left: 60px;
    margin-bottom: 0px;
}
.c_image img
{
    width: 100%;
}

.clearfix
{
    float: none;
}
.ftr p .fa-twitter
{
    background:#42b3ea;
}
.ftr p .fa-linkedin
{
    background:#0177b7;
}
.ftr p .fa-facebook
{
    background:#284da8;
}
.copyright
{
    background-color: #ededee;
}
.copyright p
{
    font-size: 11px;
    color:#7b7b7c;
}
.navbar-toggler
{
position: absolute;
    right: 10px;
}
@media(max-width: 480px)
{
    .loc ul
    {
        padding: 20px 0px !important;
        text-align: center;
    }
    .navbar-toggler
    {
        top: -60px;
    }
    .top_sec1
    {
        height: auto;
    }
    .top_sec1 img
    {
        width: 100%;
    }
    .t-center-sm
    {
        text-align: center;
    }
    .testi
    {
        height: auto;
    }
    .testi_sec
    {
        padding:35px;
    }
    
    .licon
    {
        float: none;
    }
    .nav1 .nav-item:after
    {
        display: block;
        top:30%;
    }
    .logo img
    {
        width:100%;
    }
    .wel_sec .item
    {
        height: auto;
        margin-top:20px;
    }
    .choose_sec .item, .choose_sec .item1
    {
        height: auto;
        margin-top:20px;
    }
    .title:after
    {
        left:30%;
    }

    .loc ul li
    {
        width:50%;
    }
    .icns i
    {
            width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    color: white;
    font-size: 22px !important;
    text-align: center;
    padding-top: 7px !important;
    margin-left: 10px;
    }
    #wdo
    {
        padding:10px !important;
    }
    .more {
    position: relative;
    bottom: 0;
    left: 0%;
    }
    .lft
    {
        border-right: none;
    }
    .map
    {
        padding-top: 20px;
    }
    .slide .caption
    {
    
    top:5px;
    
    }
    .mybtn
    {
        width: 44px;
    padding: 2px;
    font-size: 5px;
    margin-top: -10px;
    left: -10%;
    }
    .mybtn i
    {
        width: 10px;
    height: 11px;
    top: 0px;
    right: 1px;
    }
    .why_work img
    {
        width:40%;
    }
    .ln
    {
        text-align: center;
    }
    .career_sec {
    width: 100%;
    padding-left:0;
    }
    .cntct_sec
    {
        width:100%;
    }
    .frm
    {
        width:100%;
    }
    .nav1 .nav-link
    {
        padding:25px 10px;
    }
    .slide .caption
{
    position: absolute;
    width: 100%;
    text-align: left;
    left: 0%;
    padding:8px;
    font-size: 3.78vw;
    top: 0%;
    color:#fff;
    background: rgba(0, 0, 0, 0.6);
}
.slide .caption p
{
    width: 70%;
    margin-left:10%;
    }
.mybtn
    {
        width: 114px;
    padding: 6px;
    font-size: 14px;
    margin-top: -10px;
    left: 0%;
    }
    .mybtn i
{
    position: absolute;
    width:30px;
    height:28px;
    background-color: #00b45a;
    color:white;
    text-align: center;
    right:2;
    top:2px;
}
}
@media(min-width:481px) and (max-width: 952px)
{
	.mybtn
    {
        width: 75px;
    padding: 5px;
    font-size: 9px;
    margin-top: -10px;
    left: -10%;
    }
    .navbar-toggler
    {
        top:-78px;
    }
    .mybtn i
    {
       width: 14px;
    height: 19px;
    top: 2px;
    right: 0px;
    }
    .choose_sec .item
    {
        margin-top: 15px;
    }


}
@media(min-width:800px) and (max-width:1024px)
{
    .loc ul li
    {
        width:33.3%;
    }
}
@media(min-width:481px) and (max-width: 952px)
{
    .choose_sec .item1
    {
        margin-top: 15px;
    }
    
}
@media(max-width: 1024px)
{
	.bar
	{
		position: static;
	}
    .frm1
    {
        width: 100%;
    }
    .nav-item
    {
        width:100%;
        text-align: center;
        padding:10px 0px;
    }
    .myang
    {
        left:49%;
    }
    .dropdown-menu
    {
        position: relative;
        max-width: 12rem;
        margin:auto;
        float: none;
    }
    .logo img
    {
        width: 60%;
    }

}
@media(max-width: 770px)
{
    .image{
        width: 100%;
    }
    .frm
    {
        margin: auto;
    }
    .hos_txt
    {
        padding-top: 15px;
    }
    .nav1
    {
        margin: 0;
        padding:0;
        width:100%;
        display: flex;
    }
    .loc ul li
    {
        width:50%;
    }
    .nav1 .nav-item
    {
        width:33.3%;
        padding:0;
    }
    .nav1 .nav-link
    {
        font-size: 11px;
    }
    .loc ul li
    {
        width:50%;
    }
    .scont
    {
        text-align: center;
        padding:10px;
        border:none;
        padding-left:0 !important;
    }
    .teammem .col-md-3
    {
        margin-top:25px;
    }


}
    @media(max-width: 1024px)
{
    .choose_sec .item1
    {
        height: auto;
    }
    .choose_sec .item
    {
        height: auto;
    }
    .testi
    {
        height: auto;
    }
 
    .top_sec
    {
        height: auto;
    }
    .thd
    {
        font-size: 11px;
    }
    .navbar
    {
        position: relative;
    }
    .collapse
    {
        position: absolute;
        right: -100%;
        top: 0;
        width: 70%;
        background-color: white;
        z-index: 99999;
    }
}
@media(min-width:768px) and (max-width: 1240px)
{
    .sevices .item p, .wel_sec .item p
    {
        padding: 0px;
    }
    .wel_sec .row .col-md-3
    {
        padding: 2px;
    }
    .wel_sec .item
    {
        height: 370px;
    }
}