*{font-family: 'Open Sans';}
 .margin-top-30{margin-top: 20px;margin-right: 10px;padding-left: 30px !important;padding-right: 30px !important;}
 .btn-mine{background: #418ECB !important;}
.error {
    color: #a21e22;
}
.box-shadow{ box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);}
.a-deco{text-decoration: none !important;cursor: pointer;}
.card{height: 170px;width: 250px;line-height: 3;}